<style>
body {
  background: url('../img/pic1.jpg') no-repeat;
  background-size: cover;
  height: 100%;

}
h1 {
  color: #F5F0EE;
  text-align: center;
 font-family: 'Cinzel', serif;
 font-size: 5em;
 letter-spacing: 10px;
}

a {
  color: #0099CC;
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 8px;
  size: 80px;
  margin-left: 700px;
  margin-top:  500px;


}
p {
  color: #F5F0EE;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;

  font-size: 3em;
}
</style>

<header>
<h1>NUMINOUS</h1>
<p> Start your adventure with us</p>
</header>
