<style>
body {
  background: url('../img/nature4.jpg') no-repeat;
  background-position: center center;

  background-size: 100%;
  height: 100%;

}
h1 {
  color: black;
  text-align: center;
 font-family: 'Cinzel', serif;
 font-size: 5em;
 letter-spacing: 10px;
}

button {
  color: white;
  font-size: 2em;
  background: transparent;
  border: 2px solid black;
  border-radius: 80px;
  size: 80px;
  margin-left: 600px;
  margin-top:  300px;
  height: 100px;
  width: 200px;


}

button:hover {
  background-color: #4A89C7;
}
p {
  color: black;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;

  font-size: 3em;
}
</style>

<header>
<h1>NUMINOUS</h1>
<p> Start your adventure </p>
</header>
<div>
  <form action="/login" method="get">
    <button class="nav-link" href="/login">Log in</button>
  </form>

</div>
