<style>
body{
  background-image: url('/img/nature3.jpg');
  background-size: cover;
}
form {
  margin-left: 20px;
  margin-top: 400px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search {
  height: 40px;
  width: 80px;

}

#date1 {
  margin-left:
}

#starting_city {
  margin-top: 1px;
  height: 21px;
  width: 170px;



}

#ending_city {
  margin-top: 1px;
  height: 21px;
  width: 170px;
}

#middle_city1 {
  margin-top: 20px;
  height: 21px;
  width: 170px;
}

#middle_city2 {
  margin-top: 20px;
  height: 21px;
  width: 170px;
}

#middle_city3 {
  margin-top: 20px;
  height: 21px;
  width: 170px;
}

body {}
</style>


  <form action="/trips" method="post">
    <div class="container">

    <div class="dates-dropdown">

       Starting date:
       <input id="date1" type="date" name="starting_Date">

   </div>

   <div class="dates-dropdown">
       Ending date:
       <input type="date" name="ending_Date">
   </div>



      <div>
      <label id="start">Starting city </label>
      <input type="text" class="city" name="starting_city" id="starting_city" placeholder="Search...">
    </div>

    <div>
      <label>Ending city </label>
      <input type="text" class="city" name="ending_city" id="ending_city" placeholder="Search..">
    </div>

    <div>
      <input type="text" class="city" name="middle_city1" id="middle_city1" placeholder="Search..">
    </div>

    <div>
      <input type="text" class="city" name="middle_city2" id="middle_city2" placeholder="Search..">
    </div>

    <div>
      <input type="text" class="city" name="middle_city3" id="middle_city3" placeholder="Search..">
    </div>

      <button id="search" type="submit" class="searchButton">
         Search
      </button>


     </div>


     </form>



  <script>
  function activePlacesSearch() {
    var input = document.getElementsByClassName('city');
   for (i = 0; i < input.length; i++) {
        autocomplete = new google.maps.places.Autocomplete(input[i]);
}
}
  </script>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLbJIsbRT5qLR5pcF-6S-3RbL-EuKyccA&libraries=places&callback=activePlacesSearch"></script>
